:root {
  /* Background */
  --color-background-first: #eeedf2;
  --color-background-second: #d9d9d9;
  --color-background-third: #eeedf2;

  /* Brown */
  --color-light-brown: #eee0cf;
  --color-medium-brown: #c7ad8c;
  --color-dark-brown: #814c20;

  /* Gray */
  --color-custom-gray: #e0e0e0;
  --color-lavender-gray: #e5e4ea;
  --color-light-gray: #D1D5DB;
  --color-medium-gray: #4B5563;
  --color-dark-gray: #374151;

  /* Orange */
  --color-orange: #e38307;

  /* Blue */
  --color-gray-blue: #1d283a;
  --color-dark-blue: #0f172a;
}
