@import "tailwindcss";

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/raleway/Raleway-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/raleway/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Prompt';
  src: url('../fonts/prompt//Prompt-Regular.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Prompt';
  src: url('../fonts/prompt/Prompt-Italic.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

html {
  /* font-family: system-ui, sans-serif; */
  font-family: 'Raleway', 'Prompt';
}

.font-raleway {
  font-family: 'Raleway';
}

.font-sans {
  font-family: sans-serif;
}

button {
  cursor: pointer;
  padding: 10px 12px;
  gap: 5px;
}

.desktop-only {
  display: none;
}

.mobile-only {
  display: block;
}

/* case when width is 768px or larger */
@media (min-width: 768px) {
  .desktop-only {
    display: block;
  }

  .mobile-only {
    display: none;
  }
}